## Cleaning CDC Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/CDC2020.csv')
print(df.shape)
df.head()

(80929, 33)

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
1,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
3,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15
4,2015,2015,GU,Guam,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(13.444304, 144.793731)",PA,PA1,Q044,VALUE,66,Race/Ethnicity,Hispanic,RACE,RACEHIS

In [3]:
df['Stratification1'].value_counts()

High school graduate                2890
$50,000 - $74,999                   2890
$75,000 or greater                  2890
$35,000 - $49,999                   2890
Non-Hispanic Black                  2890
College graduate                    2890
Hawaiian/Pacific Islander           2890
Male                                2890
2 or more races                     2890
35 - 44                             2890
Total                               2890
$15,000 - $24,999                   2890
45 - 54                             2890
18 - 24                             2890
Female                              2890
Some college or technical school    2890
Asian                               2890
55 - 64                             2890
Other                               2890
Non-Hispanic White                  2890
25 - 34                             2890
$25,000 - $34,999                   2890
Less than high school               2890
American Indian/Alaska Native       2890
Hispanic                            2890
Less than $15,000                   2890
Data not reported                   2890
65 or older                         2890
Name: Stratification1, dtype: int64

In [4]:
df['QuestionID'].value_counts()

Q036    15037
Q037    15037
Q047    15009
Q045     7449
Q044     7449
Q043     7449
Q046     7449
Q018     3025
Q019     3025
Name: QuestionID, dtype: int64

In [5]:
df.groupby(['Question', 'QuestionID']).mean().T

Question,Percent of adults aged 18 years and older who have an overweight classification,Percent of adults aged 18 years and older who have obesity,Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination),Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week,Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination),Percent of adults who engage in muscle-strengthening activities on 2 or more days a week,Percent of adults who engage in no leisure-time physical activity,Percent of adults who report consuming fruit less than one time daily,Percent of adults who report consuming vegetables less than one time daily
QuestionID,Q037,Q036,Q043,Q044,Q045,Q046,Q047,Q018,Q019
YearStart,2015.536543,2015.536543,2015.038126,2015.038126,2015.038126,2015.038126,2015.541275,2017.981818,2017.981818
YearEnd,2015.536543,2015.536543,2015.038126,2015.038126,2015.038126,2015.038126,2015.541275,2017.981818,2017.981818
Data_Value_Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Data_Value,34.639112,30.096605,49.824418,20.424372,31.091711,30.715971,25.966005,39.087888,20.917647
Data_Value_Alt,34.639112,30.096605,49.824418,20.424372,31.091711,30.715971,25.966005,39.087888,20.917647
Low_Confidence_Limit,30.129030,25.872980,44.759075,16.697714,26.697551,26.258865,21.994079,34.262814,17.115797
High_Confidence_Limit,39.637749,34.917939,54.911030,25.067528,36.060783,35.722393,30.628663,44.236300,25.622642
Sample_Size,3691.921717,3692.515207,3636.689701,3599.742977,3620.327808,3724.807956,3838.768167,3428.432053,3358.382538
LocationID,30.908958,30.908958,30.594442,30.594442,30.594442,30.594442,30.832301,31.408264,31.408264

In [6]:
QuestionID_dict = {
    'Q036': 'Percent of adults aged 18 years and older who have obesity',
    'Q037': 'Percent of adults aged 18 years and older who have an overweight classification',
    'Q047': 'Percent of adults who engage in no leisure-time physical activity',
    'Q019': 'Percent of adults who report consuming vegetables less than one time daily',
    'Q046': 'Percent of adults who engage in muscle-strengthening activities on 2 or more days a week ',
    'Q043': 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
    'Q044': 'Percent of adults who achieve at least 150 minutes a week of moderate-intensity aerobic physical activity or 75 minutes a week of vigorous-intensity aerobic physical activity and engage in muscle-strengthening activities on 2 or more days a week',
    'Q045': 'Percent of adults who achieve at least 300 minutes a week of moderate-intensity aerobic physical activity or 150 minutes a week of vigorous-intensity aerobic activity (or an equivalent combination)',
    'Q018': 'Percent of adults who report consuming fruit less than one time daily',
}

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80929 entries, 0 to 80928
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YearStart                   80929 non-null  int64
 1   YearEnd                     80929 non-null  int64
 2   LocationAbbr                80929 non-null  object
 3   LocationDesc                80929 non-null  object
 4   Datasource                  80929 non-null  object
 5   Class                       80929 non-null  object
 6   Topic                       80929 non-null  object
 7   Question                    80929 non-null  object
 8   Data_Value_Unit             0 non-null      float64
 9   Data_Value_Type             80929 non-null  object
 10  Data_Value                  72965 non-null  float64
 11  Data_Value_Alt              72965 non-null  float64
 12  Data_Value_Footnote_Symbol  7964 non-null   object
 13  Data_Value_Footnote         7964 non-null   object
 14  Low_Confidence_Limit        72965 non-null  float64
 15  High_Confidence_Limit       72965 non-null  float64
 16  Sample_Size                 72965 non-null  float64
 17  Total                       2890 non-null   object
 18  Age(years)                  17340 non-null  object
 19  Education                   11560 non-null  object
 20  Gender                      5780 non-null   object
 21  Income                      20230 non-null  object
 22  Race/Ethnicity              23120 non-null  object
 23  GeoLocation                 79417 non-null  object
 24  ClassID                     80929 non-null  object
 25  TopicID                     80929 non-null  object
 26  QuestionID                  80929 non-null  object
 27  DataValueTypeID             80929 non-null  object
 28  LocationID                  80929 non-null  int64
 29  StratificationCategory1     80920 non-null  object
 30  Stratification1             80920 non-null  object
 31  StratificationCategoryId1   80920 non-null  object
 32  StratificationID1           80920 non-null  object
dtypes: float64(6), int64(3), object(24)
memory usage: 20.4+ MB

In [8]:
df[df['StratificationID1'] == 'OVERALL']

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
29,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(18.220833, -66.590149)",OWS,OWS1,Q036,VALUE,72,Total,Total,OVR,OVERALL
50,2016,2016,NM,New Mexico,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(34.520880952, -106.240580985)",OWS,OWS1,Q036,VALUE,35,Total,Total,OVR,OVERALL
71,2015,2015,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in muscle-strengt...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q046,VALUE,72,Total,Total,OVR,OVERALL
87,2016,2016,NH,New Hampshire,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(43.655950113, -71.50036092)",OWS,OWS1,Q036,VALUE,33,Total,Total,OVR,OVERALL
103,2016,2016,AZ,Arizona,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(34.86597028, -111.763811277)",PA,PA1,Q047,VALUE,4,Total,Total,OVR,OVERALL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80777,2019,2019,TN,Tennessee,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(35.68094058000048, -85.77449091399967)",FV,FV1,Q018,VALUE,47,Total,Total,OVR,OVERALL
80863,2019,2019,GU,Guam,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(13.444304, 144.793731)",FV,FV1,Q018,VALUE,66,Total,Total,OVR,OVERALL
80877,2019,2019,NV,Nevada,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(39.493240390000494, -117.07184056399967)",FV,FV1,Q018,VALUE,32,Total,Total,OVR,OVERALL
80878,2019,2019,AK,Alaska,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(64.84507995700051, -147.72205903599973)",FV,FV1,Q018,VALUE,2,Total,Total,OVR,OVERALL
80923,2019,2019,CT,Connecticut,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(41.56266102000046, -72.64984095199964)",FV,FV1,Q018,VALUE,9,Total,Total,OVR,OVERALL

In [9]:
df[df['StratificationID1'] == 'OVERALL'][['LocationDesc','Data_Value', 'Question', "YearStart" ]]

,LocationDesc,Data_Value,Question,YearStart
29,Puerto Rico,29.5,Percent of adults aged 18 years and older who ...,2015
50,New Mexico,28.3,Percent of adults aged 18 years and older who ...,2016
71,Puerto Rico,10.9,Percent of adults who engage in muscle-strengt...,2015
87,New Hampshire,26.6,Percent of adults aged 18 years and older who ...,2016
103,Arizona,23.1,Percent of adults who engage in no leisure-tim...,2016
...,...,...,...,...
80777,Tennessee,43.0,Percent of adults who report consuming fruit l...,2019
80863,Guam,49.0,Percent of adults who report consuming fruit l...,2019
80877,Nevada,43.4,Percent of adults who report consuming fruit l...,2019
80878,Alaska,42.8,Percent of adults who report consuming fruit l...,2019
80923,Connecticut,34.1,Percent of adults who report consuming fruit l...,2019

In [10]:
overall_strat = df[df['StratificationID1'] == 'OVERALL'][['YearStart', 'LocationDesc','Data_Value', 'QuestionID']]
# overall for % of adults aged 18+ who have obestiy
question = overall_strat[overall_strat['QuestionID'] == 'Q036'][['YearStart', 'LocationDesc','Data_Value', 'QuestionID']]
question

       YearStart   LocationDesc  Data_Value QuestionID
29          2015    Puerto Rico        29.5       Q036
50          2016     New Mexico        28.3       Q036
87          2016  New Hampshire        26.6       Q036
170         2016        Montana        25.5       Q036
416         2018         Alaska        29.5       Q036
...          ...            ...         ...        ...
78297       2019  West Virginia        39.7       Q036
78578       2019          Maine        31.7       Q036
78597       2019    Mississippi        40.8       Q036
78637       2019         Oregon        29.0       Q036
79035       2019    Puerto Rico        32.5       Q036

[537 rows x 4 columns]

In [11]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

In [12]:
# dropping columns
df.drop(columns = ['YearEnd', 'Datasource', 'Class', 'Topic','Data_Value_Unit', 'Data_Value_Type', 'DataValueTypeID',
                   'Question', 'Data_Value_Alt', 'Data_Value_Footnote', 'Data_Value_Footnote_Symbol', 'Total', 'Age(years)', 
                   'Gender', 'Income', 'Race/Ethnicity', 'StratificationCategory1', 'Stratification1', 'Education',
                   'LocationID', 'Low_Confidence_Limit', 'High_Confidence_Limit ', 'ClassID', 'TopicID'],
        inplace = True)
df

,YearStart,LocationAbbr,LocationDesc,Data_Value,Sample_Size,GeoLocation,QuestionID,StratificationCategoryId1,StratificationID1
0,2014,GU,Guam,29.3,842.0,"(13.444304, 144.793731)",Q036,EDU,EDUHSGRAD
1,2013,US,National,28.8,62562.0,NaN,Q036,INC,INC5075
2,2013,US,National,32.7,60069.0,NaN,Q037,INC,INCNR
3,2015,US,National,26.6,30904.0,NaN,Q045,INC,INCLESS15
4,2015,GU,Guam,27.4,125.0,"(13.444304, 144.793731)",Q044,RACE,RACEHIS
...,...,...,...,...,...,...,...,...,...
80924,2019,MI,Michigan,43.2,1440.0,"(44.6613195430005, -84.71439026999968)",Q018,AGEYR,AGEYR4554
80925,2019,WI,Wisconsin,19.7,1027.0,"(44.39319117400049, -89.81637074199966)",Q019,AGEYR,AGEYR5564
80926,2019,NE,Nebraska,41.1,874.0,"(41.6410409880005, -99.36572062299967)",Q018,AGEYR,AGEYR1824
80927,2019,TX,Texas,43.7,2897.0,"(31.827240407000488, -99.42677020599967)",Q018,EDU,EDUCOTEC
80928,2019,MO,Missouri,41.4,1267.0,"(38.635790776000476, -92.56630005299968)",Q018,INC,INCNR

In [13]:
# dropping US territories, sorry Guam
df.drop(df[df['LocationAbbr'] == 'GU'].index | df[df['LocationAbbr']  == 'PR'].index | df[df['LocationAbbr']  == 'VI'].index | df[df['LocationAbbr']  == 'US'].index,
        inplace = True)
# for some reason '|' operator works with warning, but 'or' doesn't
df

C:\Users\sbhew\AppData\Local\Temp\ipykernel_15172\2024080884.py:2: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  df.drop(df[df['LocationAbbr'] == 'GU'].index | df[df['LocationAbbr']  == 'PR'].index | df[df['LocationAbbr']  == 'VI'].index | df[df['LocationAbbr']  == 'US'].index,

,YearStart,LocationAbbr,LocationDesc,Data_Value,Sample_Size,GeoLocation,QuestionID,StratificationCategoryId1,StratificationID1
5,2012,WY,Wyoming,48.5,69.0,"(43.235541343, -108.109830353)",Q037,RACE,RACENAA
6,2012,DC,District of Columbia,31.6,243.0,"(38.890371385, -77.031961127)",Q036,EDU,EDUHS
8,2011,AL,Alabama,35.2,598.0,"(32.840571122, -86.631860762)",Q036,AGEYR,AGEYR2534
10,2015,RI,Rhode Island,40.2,354.0,"(41.708280193, -71.522470314)",Q037,RACE,RACEHIS
12,2012,WY,Wyoming,32.3,484.0,"(43.235541343, -108.109830353)",Q047,INC,INCLESS15
...,...,...,...,...,...,...,...,...,...
80924,2019,MI,Michigan,43.2,1440.0,"(44.6613195430005, -84.71439026999968)",Q018,AGEYR,AGEYR4554
80925,2019,WI,Wisconsin,19.7,1027.0,"(44.39319117400049, -89.81637074199966)",Q019,AGEYR,AGEYR5564
80926,2019,NE,Nebraska,41.1,874.0,"(41.6410409880005, -99.36572062299967)",Q018,AGEYR,AGEYR1824
80927,2019,TX,Texas,43.7,2897.0,"(31.827240407000488, -99.42677020599967)",Q018,EDU,EDUCOTEC
80928,2019,MO,Missouri,41.4,1267.0,"(38.635790776000476, -92.56630005299968)",Q018,INC,INCNR

In [14]:
# list of question id
qid_list = ['Q036', 'Q037', 'Q047', 'Q019', 'Q043', 'Q044', 'Q045', 'Q045', 'Q018']

# list of stratification categories (diff than stratification id)
strat_cat_list = ['RACE', 'INC', 'AGEYR', 'EDU', 'GEN', 'OVR']

In [15]:
def strat_qid(strat_cat, qid):
    strat = df[df['StratificationCategoryId1'] == strat_cat][['YearStart', 'LocationDesc','Data_Value', 'QuestionID', 'StratificationID1']]
    question = strat[strat['QuestionID'] == qid][['YearStart', 'LocationDesc','Data_Value', 'QuestionID', 'StratificationID1']]
    return question

In [16]:
strat_qid(strat_cat_list[0], qid_list[0]).tail(10)

       YearStart    LocationDesc  Data_Value QuestionID StratificationID1
79007       2019       Minnesota        30.1       Q036           RACEWHT
79019       2019       Wisconsin        30.6       Q036         RACE2PLUS
79024       2019       Louisiana         NaN       Q036           RACEASN
79042       2019          Kansas        45.7       Q036           RACEBLK
79047       2019      Washington        42.5       Q036           RACENAA
79072       2019     Mississippi         NaN       Q036           RACENAA
79110       2019    Rhode Island         NaN       Q036           RACEHPI
79126       2019  North Carolina         NaN       Q036           RACEHPI
79138       2019      Washington        19.9       Q036           RACEOTH
79215       2019           Idaho         NaN       Q036           RACEASN

In [17]:
overall_strat = df[df['StratificationCategoryId1'] == strat_cat_list[0]][['YearStart', 'LocationDesc','Data_Value', 'QuestionID']]
# overall for % of adults aged 18+ who have obestiy
question = overall_strat[overall_strat['QuestionID'] == 'Q036'][['YearStart', 'LocationDesc','Data_Value', 'QuestionID']]
question

       YearStart    LocationDesc  Data_Value QuestionID
16          2011    Rhode Island        32.1       Q036
42          2016      Washington        29.1       Q036
86          2017   West Virginia         NaN       Q036
95          2016          Kansas        30.5       Q036
99          2016           Maine         NaN       Q036
...          ...             ...         ...        ...
79072       2019     Mississippi         NaN       Q036
79110       2019    Rhode Island         NaN       Q036
79126       2019  North Carolina         NaN       Q036
79138       2019      Washington        19.9       Q036
79215       2019           Idaho         NaN       Q036

[4072 rows x 4 columns]

In [18]:
# prints df with varying question id and stratification category parameters
for qid in qid_list:
    for strat in strat_cat_list:
        print(strat_qid(strat, qid))

       YearStart    LocationDesc  Data_Value QuestionID StratificationID1
16          2011    Rhode Island        32.1       Q036           RACEOTH
42          2016      Washington        29.1       Q036           RACEWHT
86          2017   West Virginia         NaN       Q036           RACEHPI
95          2016          Kansas        30.5       Q036           RACEWHT
99          2016           Maine         NaN       Q036           RACEASN
...          ...             ...         ...        ...               ...
79072       2019     Mississippi         NaN       Q036           RACENAA
79110       2019    Rhode Island         NaN       Q036           RACEHPI
79126       2019  North Carolina         NaN       Q036           RACEHPI
79138       2019      Washington        19.9       Q036           RACEOTH
79215       2019           Idaho         NaN       Q036           RACEASN

[4072 rows x 5 columns]
       YearStart  LocationDesc  Data_Value QuestionID StratificationID1
57          2012    New Jersey        25.0       Q036           INC3550
91          2016   Mississippi        41.9       Q036           INC1525
100         2016     Louisiana        36.6       Q036           INC2535
140         2015       Georgia        24.6       Q036         INC75PLUS
189         2016      Michigan        38.7       Q036         INCLESS15
...          ...           ...         ...        ...               ...
79062       2019       Georgia        38.4       Q036         INCLESS15
79113       2019      Delaware        36.8       Q036           INC2535
79183       2019  North Dakota        31.1       Q036           INC1525
79225       2019      Michigan        32.3       Q036         INC75PLUS
79244       2019       Vermont        24.4       Q036         INC75PLUS

[3563 rows x 5 columns]
       YearStart    LocationDesc  Data_Value QuestionID StratificationID1
8           2011         Alabama        35.2       Q036         AGEYR2534
83          2015    South Dakota        35.8       Q036         AGEYR3544
151         2016         Wyoming        37.0       Q036         AGEYR3544
155         2016        Colorado        26.9       Q036         AGEYR4554
166         2016          Kansas        36.0       Q036         AGEYR3544
...          ...             ...         ...        ...               ...
79071       2019  North Carolina        37.4       Q036         AGEYR3544
79137       2019        Michigan        43.1       Q036         AGEYR5564
79165       2019           Maine        34.2       Q036         AGEYR3544
79231       2019    South Dakota        37.5       Q036         AGEYR4554
79235       2019          Hawaii        29.5       Q036         AGEYR2534

[3054 rows x 5 columns]
       YearStart          LocationDesc  Data_Value QuestionID  \
6           2012  District of Columbia        31.6       Q036
40          2016          Rhode Island        20.1       Q036
41          2016            California        36.0       Q036
101         2016            New Jersey        29.2       Q036
161         2016              Kentucky        34.3       Q036
...          ...                   ...         ...        ...
79044       2019             Wisconsin        36.2       Q036
79078       2019              Nebraska        35.4       Q036
79142       2019         New Hampshire        37.8       Q036
79153       2019             Minnesota        33.8       Q036
79160       2019               Florida        30.3       Q036

      StratificationID1
6                 EDUHS
40            EDUCOGRAD
41                EDUHS
101           EDUHSGRAD
161            EDUCOTEC
...                 ...
79044          EDUCOTEC
79078             EDUHS
79142             EDUHS
79153          EDUCOTEC
79160         EDUHSGRAD

[2036 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
38          2016       New York        25.9       Q036              MALE
48          2016  New Hampshire        26.6       Q036              MALE
61          2017         Hawaii        25.1       Q036              MALE
90          2016       Oklahoma        33.3       Q036              MALE
96          2016        Florida        26.6       Q036            FEMALE
...          ...            ...         ...        ...               ...
78893       2019        Vermont        27.6       Q036              MALE
78951       2019        Indiana        34.9       Q036              MALE
78990       2019        Indiana        35.7       Q036            FEMALE
79123       2019       Illinois        31.0       Q036              MALE
79162       2019       Maryland        30.0       Q036              MALE

[1018 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
50          2016     New Mexico        28.3       Q036           OVERALL
87          2016  New Hampshire        26.6       Q036           OVERALL
170         2016        Montana        25.5       Q036           OVERALL
416         2018         Alaska        29.5       Q036           OVERALL
546         2018       Maryland        30.9       Q036           OVERALL
...          ...            ...         ...        ...               ...
78033       2019        Indiana        35.3       Q036           OVERALL
78297       2019  West Virginia        39.7       Q036           OVERALL
78578       2019          Maine        31.7       Q036           OVERALL
78597       2019    Mississippi        40.8       Q036           OVERALL
78637       2019         Oregon        29.0       Q036           OVERALL

[509 rows x 5 columns]
       YearStart  LocationDesc  Data_Value QuestionID StratificationID1
5           2012       Wyoming        48.5       Q037           RACENAA
10          2015  Rhode Island        40.2       Q037           RACEHIS
44          2016      Delaware        38.5       Q037           RACEWHT
190         2016      Oklahoma        30.0       Q037           RACENAA
270         2016          Ohio        25.9       Q037           RACEASN
...          ...           ...         ...        ...               ...
79084       2019      Kentucky        36.0       Q037           RACEBLK
79124       2019   Mississippi         NaN       Q037           RACEOTH
79175       2019     Louisiana        38.7       Q037         RACE2PLUS
79186       2019      Illinois        30.6       Q037           RACEASN
79226       2019       Alabama        35.8       Q037           RACEWHT

[4072 rows x 5 columns]
       YearStart    LocationDesc  Data_Value QuestionID StratificationID1
37          2016            Utah        33.0       Q037             INCNR
152         2016  North Carolina        34.1       Q037             INCNR
159         2016    Pennsylvania        38.2       Q037         INC75PLUS
183         2016        Arkansas        30.7       Q037             INCNR
239         2016          Oregon        32.9       Q037         INCLESS15
...          ...             ...         ...        ...               ...
79200       2019         Georgia        34.3       Q037           INC1525
79213       2019        Colorado        32.7       Q037           INC5075
79223       2019   New Hampshire        34.7       Q037             INCNR
79233       2019            Ohio        33.0       Q037           INC3550
79234       2019         Wyoming        29.4       Q037           INC1525

[3563 rows x 5 columns]
       YearStart  LocationDesc  Data_Value QuestionID StratificationID1
34          2016      Virginia        40.1       Q037         AGEYR3544
45          2016       Alabama        35.3       Q037         AGEYR5564
97          2016         Idaho        38.4       Q037         AGEYR5564
111         2018       Alabama        31.9       Q037         AGEYR3544
174         2017  Pennsylvania        39.2       Q037         AGEYR4554
...          ...           ...         ...        ...               ...
79076       2019      Oklahoma        38.9       Q037       AGEYR65PLUS
79149       2019  Pennsylvania        36.7       Q037         AGEYR3544
79163       2019      Colorado        25.4       Q037         AGEYR1824
79184       2019          Iowa        35.6       Q037         AGEYR5564
79212       2019     Minnesota        23.2       Q037         AGEYR1824

[3054 rows x 5 columns]
       YearStart          LocationDesc  Data_Value QuestionID  \
88          2016              Virginia        35.4       Q037
93          2016         West Virginia        33.1       Q037
154         2016  District of Columbia        32.2       Q037
241         2016              Delaware        37.0       Q037
244         2016                Hawaii        27.9       Q037
...          ...                   ...         ...        ...
78978       2019               Georgia        32.1       Q037
78987       2019               Alabama        30.2       Q037
79004       2019              New York        36.2       Q037
79041       2019              Kentucky        35.9       Q037
79146       2019                  Iowa        36.7       Q037

      StratificationID1
88            EDUHSGRAD
93                EDUHS
154           EDUCOGRAD
241            EDUCOTEC
244               EDUHS
...                 ...
78978         EDUHSGRAD
78987             EDUHS
79004         EDUCOGRAD
79041         EDUHSGRAD
79146         EDUCOGRAD

[2036 rows x 5 columns]
       YearStart  LocationDesc  Data_Value QuestionID StratificationID1
33          2016       Wyoming        29.8       Q037            FEMALE
46          2016      Arkansas        38.0       Q037              MALE
47          2016      Illinois        27.5       Q037            FEMALE
102         2016        Oregon        27.7       Q037            FEMALE
139         2011    Washington        39.5       Q037              MALE
...          ...           ...         ...        ...               ...
78643       2019       Indiana        38.6       Q037              MALE
78730       2019      Arkansas        29.2       Q037            FEMALE
78903       2019          Iowa        38.7       Q037              MALE
79125       2019      Michigan        30.2       Q037            FEMALE
79241       2019  North Dakota        40.4       Q037              MALE

[1018 rows x 5 columns]
       YearStart    LocationDesc  Data_Value QuestionID StratificationID1
347         2016          Alaska        35.3       Q037           OVERALL
383         2018        Virginia        35.9       Q037           OVERALL
446         2018           Maine        35.3       Q037           OVERALL
512         2018         Florida        35.3       Q037           OVERALL
514         2018         Indiana        32.3       Q037           OVERALL
...          ...             ...         ...        ...               ...
77955       2019         Arizona        34.4       Q037           OVERALL
77977       2019       Minnesota        35.4       Q037           OVERALL
78699       2019           Maine        33.8       Q037           OVERALL
78762       2019  South Carolina        33.9       Q037           OVERALL
78772       2019    North Dakota        35.5       Q037           OVERALL

[509 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
36          2016     California        13.7       Q047         RACE2PLUS
43          2016  Massachusetts        17.5       Q047           RACEWHT
52          2018       Maryland        32.5       Q047           RACEHIS
54          2017       Virginia        24.2       Q047           RACEWHT
69          2014      Louisiana        23.6       Q047         RACE2PLUS
...          ...            ...         ...        ...               ...
79196       2019       Missouri         NaN       Q047           RACEOTH
79207       2019       New York        37.4       Q047           RACEHIS
79208       2019        Arizona        23.1       Q047           RACEWHT
79230       2019   North Dakota        30.6       Q047           RACEHIS
79245       2019         Alaska        19.4       Q047           RACEWHT

[4072 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
12          2012        Wyoming        32.3       Q047         INCLESS15
32          2016       Michigan        21.5       Q047           INC5075
89          2016       Colorado        25.9       Q047           INC1525
94          2016      Wisconsin        23.8       Q047             INCNR
105         2016  Massachusetts        10.6       Q047         INC75PLUS
...          ...            ...         ...        ...               ...
79128       2019    Mississippi        23.0       Q047         INC75PLUS
79131       2019       Arkansas        19.6       Q047         INC75PLUS
79140       2019       Michigan        14.7       Q047         INC75PLUS
79143       2019     California        33.9       Q047         INCLESS15
79168       2019        Montana        18.0       Q047           INC5075

[3563 rows x 5 columns]
       YearStart    LocationDesc  Data_Value QuestionID StratificationID1
35          2016      Washington        18.8       Q047         AGEYR5564
142         2017        Colorado        15.7       Q047         AGEYR1824
158         2016         Wyoming        12.5       Q047         AGEYR1824
169         2016  South Carolina        29.1       Q047         AGEYR4554
177         2017        Nebraska        28.4       Q047         AGEYR4554
...          ...             ...         ...        ...               ...
79141       2019      New Mexico        23.0       Q047         AGEYR3544
79171       2019    Rhode Island        25.3       Q047         AGEYR5564
79188       2019          Oregon        24.2       Q047         AGEYR5564
79191       2019            Ohio        30.6       Q047         AGEYR4554
79214       2019  North Carolina        28.3       Q047       AGEYR65PLUS

[3054 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
98          2016     Washington        30.5       Q047             EDUHS
129         2014     California        19.6       Q047          EDUCOTEC
156         2016        Florida        36.4       Q047         EDUHSGRAD
179         2016       Illinois        20.7       Q047          EDUCOTEC
185         2016       Missouri        30.6       Q047         EDUHSGRAD
...          ...            ...         ...        ...               ...
78980       2019       Colorado        39.4       Q047             EDUHS
79033       2019      Wisconsin        29.7       Q047         EDUHSGRAD
79115       2019     Washington        18.7       Q047          EDUCOTEC
79134       2019        Indiana        16.2       Q047         EDUCOGRAD
79173       2019  West Virginia        18.6       Q047         EDUCOGRAD

[2036 rows x 5 columns]
       YearStart    LocationDesc  Data_Value QuestionID StratificationID1
282         2016            Utah        14.7       Q047              MALE
310         2017        Virginia        24.7       Q047              MALE
338         2016        Oklahoma        25.6       Q047              MALE
371         2018      New Jersey        30.8       Q047            FEMALE
520         2018         Georgia        29.3       Q047            FEMALE
...          ...             ...         ...        ...               ...
78626       2019        Illinois        26.8       Q047            FEMALE
78756       2019      Washington        18.6       Q047              MALE
78800       2019          Nevada        27.2       Q047            FEMALE
79155       2019         Florida        27.2       Q047            FEMALE
79217       2019  North Carolina        27.7       Q047            FEMALE

[1018 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
103         2016        Arizona        23.1       Q047           OVERALL
221         2017           Iowa        25.0       Q047           OVERALL
295         2016  Massachusetts        20.0       Q047           OVERALL
372         2018   South Dakota        24.0       Q047           OVERALL
557         2013   Pennsylvania        26.3       Q047           OVERALL
...          ...            ...         ...        ...               ...
77890       2019       Arkansas        31.2       Q047           OVERALL
77896       2019   Rhode Island        26.5       Q047           OVERALL
78237       2019       Michigan        25.4       Q047           OVERALL
78636       2019       Delaware        26.6       Q047           OVERALL
78970       2019      Louisiana        31.9       Q047           OVERALL

[509 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
804         2017  West Virginia        19.8       Q019           RACEBLK
4127        2017      Minnesota        24.0       Q019           RACENAA
6016        2017  West Virginia         NaN       Q019           RACEHPI
6059        2017       Virginia        16.7       Q019           RACEASN
6067        2017       Illinois        36.7       Q019           RACEHIS
...          ...            ...         ...        ...               ...
80765       2019        Vermont         NaN       Q019           RACEASN
80770       2019        Wyoming        17.2       Q019           RACEWHT
80858       2019     Washington        17.1       Q019           RACEOTH
80875       2019      Wisconsin        42.0       Q019           RACEHIS
80891       2019  West Virginia        23.9       Q019           RACEBLK

[808 rows x 5 columns]
       YearStart          LocationDesc  Data_Value QuestionID  \
70          2017          Rhode Island        26.0       Q019
5485        2017               Georgia        14.3       Q019
5837        2017  District of Columbia         9.0       Q019
5876        2017                  Utah        23.4       Q019
6048        2017              New York        15.6       Q019
...          ...                   ...         ...        ...
80657       2019         West Virginia        32.1       Q019
80733       2019            Washington        20.6       Q019
80762       2019             Wisconsin        17.5       Q019
80779       2019         West Virginia        16.2       Q019
80849       2019               Wyoming        16.8       Q019

      StratificationID1
70              INC2535
5485            INC3550
5837          INC75PLUS
5876            INC2535
6048            INC5075
...                 ...
80657         INCLESS15
80733           INC3550
80762         INC75PLUS
80779           INC5075
80849           INC2535

[707 rows x 5 columns]
       YearStart          LocationDesc  Data_Value QuestionID  \
265         2017                Hawaii        17.1       Q019
2507        2017          North Dakota        28.6       Q019
5818        2017             Minnesota        16.6       Q019
6036        2017             Minnesota        20.6       Q019
6043        2017  District of Columbia        13.3       Q019
...          ...                   ...         ...        ...
80744       2019              Virginia        17.2       Q019
80767       2019               Wyoming        18.7       Q019
80850       2019            Washington        15.4       Q019
80851       2019              Virginia        27.1       Q019
80925       2019             Wisconsin        19.7       Q019

      StratificationID1
265           AGEYR4554
2507          AGEYR1824
5818          AGEYR3544
6036          AGEYR2534
6043        AGEYR65PLUS
...                 ...
80744         AGEYR5564
80767         AGEYR4554
80850       AGEYR65PLUS
80851         AGEYR1824
80925         AGEYR5564

[606 rows x 5 columns]
       YearStart   LocationDesc  Data_Value QuestionID StratificationID1
1825        2017        Alabama        25.5       Q019             EDUHS
2506        2017        Georgia        22.2       Q019         EDUHSGRAD
5846        2017         Oregon        10.0       Q019         EDUCOGRAD
6031        2017        Montana        14.9       Q019          EDUCOTEC

In [19]:
# only questions Q036, Q037, and Q047 have data for all years
# the remaining questions only have data every other year
df['QuestionID'].value_counts()

Q037    14253
Q036    14253
Q047    14253
Q046     7113
Q043     7113
Q045     7113
Q044     7113
Q018     2829
Q019     2829
Name: QuestionID, dtype: int64

In [20]:
# testing fillna value_countsional average for by race ie raceasn, racenaa
race_df = pd.DataFrame(strat_qid('RACE', 'Q037'))
race_df[(race_df['YearStart'] == 2011) & (race_df['StratificationID1'] == 'RACENAA')]

,YearStart,LocationDesc,Data_Value,QuestionID,StratificationID1
15603,2011,Michigan,37.1,Q037,RACENAA
15908,2011,Idaho,48.1,Q037,RACENAA
16412,2011,New Mexico,36.1,Q037,RACENAA
18520,2011,Rhode Island,NaN,Q037,RACENAA
18805,2011,Utah,31.1,Q037,RACENAA
19418,2011,New Hampshire,NaN,Q037,RACENAA
20292,2011,Tennessee,NaN,Q037,RACENAA
20384,2011,Maine,32.7,Q037,RACENAA
21005,2011,Delaware,NaN,Q037,RACENAA
22020,2011,Florida,41.1,Q037,RACENAA
25853,2011,Mississippi,NaN,Q037,RACENAA
25937,2011,Arkansas,22.4,Q037,RACENAA
27045,2011,Wisconsin,29.6,Q037,RACENAA
30253,2011,South Dakota,32.5,Q037,RACENAA
32295,2011,Montana,34.8,Q037,RACENAA
33068,2011,New York,NaN,Q037,RACENAA
34640,2011,Colorado,39.5,Q037,RACENAA
34977,2011,Louisiana,24.6,Q037,RACENAA
35592,2011,Missouri,26.6,Q037,RACENAA
37395,2011,Oklahoma,28.3,Q037,RACENAA
37834,2011,Washington,37.8,Q037,RACENAA
37875,2011,Connecticut,NaN,Q037,RACENAA
39117,2011,California,31.9,Q037,RACENAA
39655,2011,Kentucky,25.2,Q037,RACENAA
40426,2011,North Carolina,32.7,Q037,RACENAA
40815,2011,Alabama,31.4,Q037,RACENAA
41842,2011,Nebraska,36.1,Q037,RACENAA
42354,2011,Arizona,40.2,Q037,RACENAA
42670,2011,District of Columbia,NaN,Q037,RACENAA
42791,2011,Illinois,NaN,Q037,RACENAA
42955,2011,Alaska,37.2,Q037,RACENAA
43681,2011,Wyoming,29.6,Q037,RACENAA
44024,2011,Ohio,38.3,Q037,RACENAA
44145,2011,New Jersey,35.3,Q037,RACENAA
44830,2011,Vermont,30.8,Q037,RACENAA
44999,2011,South Carolina,37.5,Q037,RACENAA
45246,2011,Maryland,NaN,Q037,RACENAA
45426,2011,North Dakota,27.1,Q037,RACENAA
48170,2011,Kansas,41.7,Q037,RACENAA
49914,2011,Minnesota,34.2,Q037,RACENAA
51909,2011,Hawaii,NaN,Q037,RACENAA
52513,2011,Pennsylvania,NaN,Q037,RACENAA
52685,2011,Nevada,20.5,Q037,RACENAA
52787,2011,West Virginia,NaN,Q037,RACENAA
53463,2011,Oregon,NaN,Q037,RACENAA
54110,2011,Iowa,NaN,Q037,RACENAA
55312,2011,Virginia,NaN,Q037,RACENAA
56047,2011,Georgia,24.3,Q037,RACENAA
56086,2011,Massachusetts,34.0,Q037,RACENAA
57789,2011,Indiana,30.9,Q037,RACENAA
57828,2011,Texas,21.3,Q037,RACENAA

In [21]:
race_df.isnull().sum()

YearStart               0
LocationDesc            0
Data_Value           1319
QuestionID              0
StratificationID1       0
dtype: int64

In [22]:
race_df.tail(10)

       YearStart  LocationDesc  Data_Value QuestionID StratificationID1
78926       2019      Virginia        48.4       Q037           RACENAA
78956       2019      New York        33.0       Q037           RACEASN
79022       2019  South Dakota         NaN       Q037           RACEHPI
79068       2019    California        31.9       Q037           RACEOTH
79080       2019      Missouri        33.9       Q037           RACEWHT
79084       2019      Kentucky        36.0       Q037           RACEBLK
79124       2019   Mississippi         NaN       Q037           RACEOTH
79175       2019     Louisiana        38.7       Q037         RACE2PLUS
79186       2019      Illinois        30.6       Q037           RACEASN
79226       2019       Alabama        35.8       Q037           RACEWHT

In [23]:
# national average across all races
race_df['DataValue2'] = round(race_df['Data_Value'].fillna(race_df.groupby(['YearStart', 'StratificationID1'])['Data_Value'].transform('mean')), 2)
race_df.head()
# create df of LocationDesc == National, drop national then run this, and re add National

,YearStart,LocationDesc,Data_Value,QuestionID,StratificationID1,DataValue2
5,2012,Wyoming,48.5,Q037,RACENAA,48.5
10,2015,Rhode Island,40.2,Q037,RACEHIS,40.2
44,2016,Delaware,38.5,Q037,RACEWHT,38.5
190,2016,Oklahoma,30.0,Q037,RACENAA,30.0
270,2016,Ohio,25.9,Q037,RACEASN,25.9

In [24]:
# national average across all races
race_df['Data_Value'] = round(race_df['Data_Value'].fillna(race_df.groupby(['YearStart', 'StratificationID1'])['Data_Value'].transform('mean')), 2)
race_df.tail(10)
# create df of LocationDesc == National, drop national then run this, and re add National

,YearStart,LocationDesc,Data_Value,QuestionID,StratificationID1,DataValue2
78926,2019,Virginia,48.40,Q037,RACENAA,48.40
78956,2019,New York,33.00,Q037,RACEASN,33.00
79022,2019,South Dakota,26.40,Q037,RACEHPI,26.40
79068,2019,California,31.90,Q037,RACEOTH,31.90
79080,2019,Missouri,33.90,Q037,RACEWHT,33.90
79084,2019,Kentucky,36.00,Q037,RACEBLK,36.00
79124,2019,Mississippi,33.43,Q037,RACEOTH,33.43
79175,2019,Louisiana,38.70,Q037,RACE2PLUS,38.70
79186,2019,Illinois,30.60,Q037,RACEASN,30.60
79226,2019,Alabama,35.80,Q037,RACEWHT,35.80

In [25]:
race_df.isnull().sum()

YearStart            0
LocationDesc         0
Data_Value           0
QuestionID           0
StratificationID1    0
DataValue2           0
dtype: int64

In [26]:
df['StratificationID1'].value_counts()

RACENAA        2745
EDUHS          2745
AGEYR4554      2745
AGEYR1824      2745
AGEYR65PLUS    2745
EDUCOTEC       2745
INC75PLUS      2745
INC1525        2745
EDUHSGRAD      2745
RACEASN        2745
INC2535        2745
RACEHPI        2745
INC3550        2745
OVERALL        2745
RACEWHT        2745
EDUCOGRAD      2745
MALE           2745
INCNR          2745
RACE2PLUS      2745
AGEYR5564      2745
AGEYR3544      2745
FEMALE         2745
INC5075        2745
RACEOTH        2745
INCLESS15      2745
RACEHIS        2745
AGEYR2534      2745
RACEBLK        2745
Name: StratificationID1, dtype: int64

In [27]:
race_df[(race_df['YearStart'] == 2011) & (race_df['StratificationID1'] == 'RACENAA')]

,YearStart,LocationDesc,Data_Value,QuestionID,StratificationID1,DataValue2
15603,2011,Michigan,37.10,Q037,RACENAA,37.10
15908,2011,Idaho,48.10,Q037,RACENAA,48.10
16412,2011,New Mexico,36.10,Q037,RACENAA,36.10
18520,2011,Rhode Island,32.64,Q037,RACENAA,32.64
18805,2011,Utah,31.10,Q037,RACENAA,31.10
19418,2011,New Hampshire,32.64,Q037,RACENAA,32.64
20292,2011,Tennessee,32.64,Q037,RACENAA,32.64
20384,2011,Maine,32.70,Q037,RACENAA,32.70
21005,2011,Delaware,32.64,Q037,RACENAA,32.64
22020,2011,Florida,41.10,Q037,RACENAA,41.10
25853,2011,Mississippi,32.64,Q037,RACENAA,32.64
25937,2011,Arkansas,22.40,Q037,RACENAA,22.40
27045,2011,Wisconsin,29.60,Q037,RACENAA,29.60
30253,2011,South Dakota,32.50,Q037,RACENAA,32.50
32295,2011,Montana,34.80,Q037,RACENAA,34.80
33068,2011,New York,32.64,Q037,RACENAA,32.64
34640,2011,Colorado,39.50,Q037,RACENAA,39.50
34977,2011,Louisiana,24.60,Q037,RACENAA,24.60
35592,2011,Missouri,26.60,Q037,RACENAA,26.60
37395,2011,Oklahoma,28.30,Q037,RACENAA,28.30
37834,2011,Washington,37.80,Q037,RACENAA,37.80
37875,2011,Connecticut,32.64,Q037,RACENAA,32.64
39117,2011,California,31.90,Q037,RACENAA,31.90
39655,2011,Kentucky,25.20,Q037,RACENAA,25.20
40426,2011,North Carolina,32.70,Q037,RACENAA,32.70
40815,2011,Alabama,31.40,Q037,RACENAA,31.40
41842,2011,Nebraska,36.10,Q037,RACENAA,36.10
42354,2011,Arizona,40.20,Q037,RACENAA,40.20
42670,2011,District of Columbia,32.64,Q037,RACENAA,32.64
42791,2011,Illinois,32.64,Q037,RACENAA,32.64
42955,2011,Alaska,37.20,Q037,RACENAA,37.20
43681,2011,Wyoming,29.60,Q037,RACENAA,29.60
44024,2011,Ohio,38.30,Q037,RACENAA,38.30
44145,2011,New Jersey,35.30,Q037,RACENAA,35.30
44830,2011,Vermont,30.80,Q037,RACENAA,30.80
44999,2011,South Carolina,37.50,Q037,RACENAA,37.50
45246,2011,Maryland,32.64,Q037,RACENAA,32.64
45426,2011,North Dakota,27.10,Q037,RACENAA,27.10
48170,2011,Kansas,41.70,Q037,RACENAA,41.70
49914,2011,Minnesota,34.20,Q037,RACENAA,34.20
51909,2011,Hawaii,32.64,Q037,RACENAA,32.64
52513,2011,Pennsylvania,32.64,Q037,RACENAA,32.64
52685,2011,Nevada,20.50,Q037,RACENAA,20.50
52787,2011,West Virginia,32.64,Q037,RACENAA,32.64
53463,2011,Oregon,32.64,Q037,RACENAA,32.64
54110,2011,Iowa,32.64,Q037,RACENAA,32.64
55312,2011,Virginia,32.64,Q037,RACENAA,32.64
56047,2011,Georgia,24.30,Q037,RACENAA,24.30
56086,2011,Massachusetts,34.00,Q037,RACENAA,34.00
57789,2011,Indiana,30.90,Q037,RACENAA,30.90
57828,2011,Texas,21.30,Q037,RACENAA,21.30

In [28]:
race_df[(race_df['YearStart'] == 2016) & (race_df['StratificationID1'] == 'RACENAA')].mean()

C:\Users\sbhew\AppData\Local\Temp\ipykernel_15172\1211003891.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  race_df[(race_df['YearStart'] == 2016) & (race_df['StratificationID1'] == 'RACENAA')].mean()

YearStart     2016.000000
Data_Value      32.161176
DataValue2      32.161176
dtype: float64

In [29]:
df.tail().T

,80924,80925,80926,80927,80928
YearStart,2019,2019,2019,2019,2019
LocationAbbr,MI,WI,NE,TX,MO
LocationDesc,Michigan,Wisconsin,Nebraska,Texas,Missouri
Data_Value,43.2,19.7,41.1,43.7,41.4
Sample_Size,1440.0,1027.0,874.0,2897.0,1267.0
GeoLocation,"(44.6613195430005, -84.71439026999968)","(44.39319117400049, -89.81637074199966)","(41.6410409880005, -99.36572062299967)","(31.827240407000488, -99.42677020599967)","(38.635790776000476, -92.56630005299968)"
QuestionID,Q018,Q019,Q018,Q018,Q018
StratificationCategoryId1,AGEYR,AGEYR,AGEYR,EDU,INC
StratificationID1,AGEYR4554,AGEYR5564,AGEYR1824,EDUCOTEC,INCNR

In [30]:
df.value_counts(df['StratificationCategoryId1'])

StratificationCategoryId1
RACE     21960
INC      19215
AGEYR    16470
EDU      10980
GEN       5490
OVR       2745
dtype: int64

In [31]:
df.isnull().sum()

YearStart                       0
LocationAbbr                    0
LocationDesc                    0
Data_Value                   7229
Sample_Size                  7229
GeoLocation                     0
QuestionID                      0
StratificationCategoryId1       9
StratificationID1               9
dtype: int64

In [32]:
# national average across all 
df['Data_Value'] = round(df['Data_Value'].fillna(df.groupby(['YearStart', 'StratificationID1'])['Data_Value'].transform('mean')), 2)
df.tail(10)

,YearStart,LocationAbbr,LocationDesc,Data_Value,Sample_Size,GeoLocation,QuestionID,StratificationCategoryId1,StratificationID1
80919,2019,CT,Connecticut,39.70,695.0,"(41.56266102000046, -72.64984095199964)",Q018,INC,INC1525
80920,2019,NH,New Hampshire,42.00,371.0,"(43.65595011300047, -71.50036091999965)",Q018,AGEYR,AGEYR2534
80921,2019,AR,Arkansas,49.40,1268.0,"(34.74865012400045, -92.27449074299966)",Q018,EDU,EDUCOTEC
80922,2019,IA,Iowa,34.99,NaN,"(42.46940091300047, -93.81649055599968)",Q018,RACE,RACENAA
80923,2019,CT,Connecticut,34.10,7998.0,"(41.56266102000046, -72.64984095199964)",Q018,OVR,OVERALL
80924,2019,MI,Michigan,43.20,1440.0,"(44.6613195430005, -84.71439026999968)",Q018,AGEYR,AGEYR4554
80925,2019,WI,Wisconsin,19.70,1027.0,"(44.39319117400049, -89.81637074199966)",Q019,AGEYR,AGEYR5564
80926,2019,NE,Nebraska,41.10,874.0,"(41.6410409880005, -99.36572062299967)",Q018,AGEYR,AGEYR1824
80927,2019,TX,Texas,43.70,2897.0,"(31.827240407000488, -99.42677020599967)",Q018,EDU,EDUCOTEC
80928,2019,MO,Missouri,41.40,1267.0,"(38.635790776000476, -92.56630005299968)",Q018,INC,INCNR

In [33]:
df.isnull().sum()

YearStart                       0
LocationAbbr                    0
LocationDesc                    0
Data_Value                      9
Sample_Size                  7229
GeoLocation                     0
QuestionID                      0
StratificationCategoryId1       9
StratificationID1               9
dtype: int64

In [34]:
df.dropna(subset = ['Data_Value'], inplace = True)
df.isnull().sum()

YearStart                       0
LocationAbbr                    0
LocationDesc                    0
Data_Value                      0
Sample_Size                  7220
GeoLocation                     0
QuestionID                      0
StratificationCategoryId1       0
StratificationID1               0
dtype: int64

In [35]:
df.tail(10)

,YearStart,LocationAbbr,LocationDesc,Data_Value,Sample_Size,GeoLocation,QuestionID,StratificationCategoryId1,StratificationID1
80919,2019,CT,Connecticut,39.70,695.0,"(41.56266102000046, -72.64984095199964)",Q018,INC,INC1525
80920,2019,NH,New Hampshire,42.00,371.0,"(43.65595011300047, -71.50036091999965)",Q018,AGEYR,AGEYR2534
80921,2019,AR,Arkansas,49.40,1268.0,"(34.74865012400045, -92.27449074299966)",Q018,EDU,EDUCOTEC
80922,2019,IA,Iowa,34.99,NaN,"(42.46940091300047, -93.81649055599968)",Q018,RACE,RACENAA
80923,2019,CT,Connecticut,34.10,7998.0,"(41.56266102000046, -72.64984095199964)",Q018,OVR,OVERALL
80924,2019,MI,Michigan,43.20,1440.0,"(44.6613195430005, -84.71439026999968)",Q018,AGEYR,AGEYR4554
80925,2019,WI,Wisconsin,19.70,1027.0,"(44.39319117400049, -89.81637074199966)",Q019,AGEYR,AGEYR5564
80926,2019,NE,Nebraska,41.10,874.0,"(41.6410409880005, -99.36572062299967)",Q018,AGEYR,AGEYR1824
80927,2019,TX,Texas,43.70,2897.0,"(31.827240407000488, -99.42677020599967)",Q018,EDU,EDUCOTEC
80928,2019,MO,Missouri,41.40,1267.0,"(38.635790776000476, -92.56630005299968)",Q018,INC,INCNR

In [36]:
df.to_csv('../data/cleaned_cdc_2020.csv', index = False)

### National Data

In [59]:
nat = pd.read_csv('../data/CDC2020.csv')
nat_df = pd.DataFrame(nat)
nat_df

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
1,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
3,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15
4,2015,2015,GU,Guam,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 150 min...,NaN,Value,...,"(13.444304, 144.793731)",PA,PA1,Q044,VALUE,66,Race/Ethnicity,Hispanic,RACE,RACEHIS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80924,2019,2019,MI,Michigan,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(44.6613195430005, -84.71439026999968)",FV,FV1,Q018,VALUE,26,Age (years),45 - 54,AGEYR,AGEYR4554
80925,2019,2019,WI,Wisconsin,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(44.39319117400049, -89.81637074199966)",FV,FV1,Q019,VALUE,55,Age (years),55 - 64,AGEYR,AGEYR5564
80926,2019,2019,NE,Nebraska,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(41.6410409880005, -99.36572062299967)",FV,FV1,Q018,VALUE,31,Age (years),18 - 24,AGEYR,AGEYR1824
80927,2019,2019,TX,Texas,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(31.827240407000488, -99.42677020599967)",FV,FV1,Q018,VALUE,48,Education,Some college or technical school,EDU,EDUCOTEC
80928,2019,2019,MO,Missouri,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(38.635790776000476, -92.56630005299968)",FV,FV1,Q018,VALUE,29,Income,Data not reported,INC,INCNR

In [60]:
# dropping columns
nat_df.drop(columns = ['YearEnd', 'Datasource', 'Class', 'Topic','Data_Value_Unit', 'Data_Value_Type', 'DataValueTypeID',
                   'Question', 'Data_Value_Alt', 'Data_Value_Footnote', 'Data_Value_Footnote_Symbol', 'Total', 'Age(years)', 
                   'Gender', 'Income', 'Race/Ethnicity', 'StratificationCategory1', 'Stratification1', 'Education',
                   'LocationID', 'Low_Confidence_Limit', 'High_Confidence_Limit ', 'ClassID', 'TopicID'],
        inplace = True)
nat_df

,YearStart,LocationAbbr,LocationDesc,Data_Value,Sample_Size,GeoLocation,QuestionID,StratificationCategoryId1,StratificationID1
0,2014,GU,Guam,29.3,842.0,"(13.444304, 144.793731)",Q036,EDU,EDUHSGRAD
1,2013,US,National,28.8,62562.0,NaN,Q036,INC,INC5075
2,2013,US,National,32.7,60069.0,NaN,Q037,INC,INCNR
3,2015,US,National,26.6,30904.0,NaN,Q045,INC,INCLESS15
4,2015,GU,Guam,27.4,125.0,"(13.444304, 144.793731)",Q044,RACE,RACEHIS
...,...,...,...,...,...,...,...,...,...
80924,2019,MI,Michigan,43.2,1440.0,"(44.6613195430005, -84.71439026999968)",Q018,AGEYR,AGEYR4554
80925,2019,WI,Wisconsin,19.7,1027.0,"(44.39319117400049, -89.81637074199966)",Q019,AGEYR,AGEYR5564
80926,2019,NE,Nebraska,41.1,874.0,"(41.6410409880005, -99.36572062299967)",Q018,AGEYR,AGEYR1824
80927,2019,TX,Texas,43.7,2897.0,"(31.827240407000488, -99.42677020599967)",Q018,EDU,EDUCOTEC
80928,2019,MO,Missouri,41.4,1267.0,"(38.635790776000476, -92.56630005299968)",Q018,INC,INCNR

In [67]:
# dropping US territories, sorry Guam
#nat_df = nat_df[nat_df['LocationAbbr']  == 'US']
nat_df = nat_df[nat_df['LocationAbbr'].str.contains("US") & nat_df['StratificationCategoryId1'].str.contains("OVR")]
nat_df.sort_values('YearStart')

,YearStart,LocationAbbr,LocationDesc,Data_Value,Sample_Size,GeoLocation,QuestionID,StratificationCategoryId1,StratificationID1
8272,2011,US,National,31.8,454894.0,NaN,Q045,OVR,OVERALL
8210,2011,US,National,51.6,458088.0,NaN,Q043,OVR,OVERALL
8293,2011,US,National,29.3,469312.0,NaN,Q046,OVR,OVERALL
9982,2011,US,National,35.8,470531.0,NaN,Q037,OVR,OVERALL
8321,2011,US,National,25.4,475078.0,NaN,Q047,OVR,OVERALL
3359,2011,US,National,27.4,470700.0,NaN,Q036,OVR,OVERALL
8242,2011,US,National,20.6,453721.0,NaN,Q044,OVR,OVERALL
228,2012,US,National,35.7,442230.0,NaN,Q037,OVR,OVERALL
8349,2012,US,National,23.3,465777.0,NaN,Q047,OVR,OVERALL
5922,2012,US,National,27.7,442230.0,NaN,Q036,OVR,OVERALL
8435,2013,US,National,50.2,433081.0,NaN,Q043,OVR,OVERALL
8478,2013,US,National,31.2,429607.0,NaN,Q045,OVR,OVERALL
5658,2013,US,National,28.3,457487.0,NaN,Q036,OVR,OVERALL
8459,2013,US,National,26.3,450093.0,NaN,Q047,OVR,OVERALL
8525,2013,US,National,29.6,444324.0,NaN,Q046,OVR,OVERALL
11301,2013,US,National,35.5,457487.0,NaN,Q037,OVR,OVERALL
8452,2013,US,National,20.2,428975.0,NaN,Q044,OVR,OVERALL
8592,2014,US,National,23.7,454431.0,NaN,Q047,OVR,OVERALL
973,2014,US,National,28.9,425875.0,NaN,Q036,OVR,OVERALL
5483,2014,US,National,35.2,425875.0,NaN,Q037,OVR,OVERALL
116,2015,US,National,30.4,390656.0,NaN,Q046,OVR,OVERALL
6010,2015,US,National,20.5,377253.0,NaN,Q044,OVR,OVERALL
5798,2015,US,National,25.9,396649.0,NaN,Q047,OVR,OVERALL
5663,2015,US,National,31.3,378856.0,NaN,Q045,OVR,OVERALL
2387,2015,US,National,28.9,398316.0,NaN,Q036,OVR,OVERALL
1759,2015,US,National,35.7,398316.0,NaN,Q037,OVR,OVERALL
7864,2015,US,National,50.9,381483.0,NaN,Q043,OVR,OVERALL
60889,2016,US,National,29.6,438479.0,NaN,Q036,OVR,OVERALL
60403,2016,US,National,35.2,438479.0,NaN,Q037,OVR,OVERALL
59382,2016,US,National,24.2,476876.0,NaN,Q047,OVR,OVERALL
6975,2017,US,National,35.3,408448.0,NaN,Q037,OVR,OVERALL
31061,2017,US,National,19.0,396800.0,NaN,Q019,OVR,OVERALL
25492,2017,US,National,36.0,405047.0,NaN,Q018,OVR,OVERALL
24682,2017,US,National,20.3,389612.0,NaN,Q044,OVR,OVERALL
27794,2017,US,National,26.6,410595.0,NaN,Q047,OVR,OVERALL
13274,2017,US,National,30.5,403374.0,NaN,Q046,OVR,OVERALL
11089,2017,US,National,30.9,392209.0,NaN,Q045,OVR,OVERALL
9978,2017,US,National,30.1,408448.0,NaN,Q036,OVR,OVERALL
23544,2017,US,National,50.3,394726.0,NaN,Q043,OVR,OVERALL
499,2018,US,National,24.2,430259.0,NaN,Q047,OVR,OVERALL
4303,2018,US,National,30.9,396022.0,NaN,Q036,OVR,OVERALL
4847,2018,US,National,35.0,396022.0,NaN,Q037,OVR,OVERALL
76521,2019,US,National,31.4,374073.0,NaN,Q036,OVR,OVERALL
73792,2019,US,National,35.3,373038.0,NaN,Q046,OVR,OVERALL
73598,2019,US,National,26.0,388044.0,NaN,Q047,OVR,OVERALL
73476,2019,US,National,51.5,359753.0,NaN,Q043,OVR,OVERALL
71048,2019,US,National,23.0,354386.0,NaN,Q044,OVR,OVERALL
80282,2019,US,National,39.2,365134.0,NaN,Q018,OVR,OVERALL
67850,2019,US,National,35.2,374073.0,NaN,Q037,OVR,OVERALL
78108,2019,US,National,32.1,361169.0,NaN,Q045,OVR,OVERALL
68436,2019,US,National,21.0,356117.0,NaN,Q019,OVR,OVERALL
66525,2020,US,National,31.9,353841.0,NaN,Q036,OVR,OVERALL
63152,2020,US,National,23.5,394153.0,NaN,Q047,OVR,OVERALL
67016,2020,US,National,34.8,353841.0,NaN,Q037,OVR,OVERALL

In [68]:
nat_df.to_csv('../data/cleaned_nat_cdc_2020.csv', index = False)